src/Loader-win/Loader-win/.vs/
src/Loader-win/Loader-win/Loader-win.vcxproj.user
src/Loader-win/Loader-win/Debug/*
!src/Loader-win/Loader-win/Debug/Loader-win.exe
!src/Loader-win/Loader-win/Debug/loader.conf
src/Packer/.settings/
src/Packer/Debug/Packer
src/Loader-win/Loader-win/x64/

src/Loader-win/Loader-win/Debug/

src/Loader-win/Loader-win/Output/Debug/

src/Loader-win/Loader-win/Output/Release/

src/Loader-win/Loader-win/Win32/
